__pycache__/
bin/
lib/
lib64
var/
share/python-wheels/
*.egg
dist/
.Python
build/
*.so
*.py[codz]
*$py.class
MANIFEST
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
*.cover
*.py.cover
venv/
env/
ENV/
venv.bak/
cython_debug/
.pypirc
